.login {
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
      rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 0.3)
    ),
    url("https://images.unsplash.com/photo-1514064019862-23e2a332a6a6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1014&q=80");
  background-size: cover;
}

.loginTitle {
  font-size: 50px;
}

.loginForm {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.loginForm > label {
  margin: 10px 0;
}

.loginInput {
  padding: 10px;
  background-color: white;
  border: none;
}

.loginButton {
  margin-top: 20px;
  padding: 10px;
  cursor: pointer;
  background-color: rgb(240, 98, 73);
  border: none;
  color: white;
  border-radius: 10px;
}

.loginButton:disabled {
  cursor: not-allowed;
  background-color: rgb(11, 179, 123);
}

.loginRegisterButton {
  position: absolute;
  top: 60px;
  padding: 10px;
  right: 20px;
  background-color: teal;
  border: none;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}
